h1, p {

  font-family: Lato

}

.ToDoItem {

font-family: Lato;
font-size: 15

}

.ToDoList {

font-family: Lato;
font-size: 25

}

.ToDoItemChange {

text-decoration: line-through;
text-decoration-color: gray

}
